.timetable-day-selector {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin: 10px 0;
	width: 100%;
	padding: 5px 0;
	z-index: 10;
}

@media (min-width: 768px) {
	.timetable-day-selector {
		justify-content: left;
	}
}

.timetable-day-selector a {
	flex: 1;
	background: var(--color-blue);
	color: white;
	padding: 10px;
	border-radius: 5px;
	width: 120px;
	text-align: center;
}

.timetable-day-selector a.active {
	background: var(--color-lila);
}

.timetable-day-title {
	position: sticky;
	top: 80px;
	background: white;
}

.timetable-band {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 8px 0;
	color: white;
	gap: 2px;
}

.timetable-band__details {
	background: var(--color-green);
	flex: 1;
	padding: 5px 10px;
}

.timetable-band__image img {
	width: 64px;
	height: 64px;
}

.timetable-band__details-title {
	font-weight: bold;
}

.timetable-band__details-title a {
	color: white;
}

.timetable-band__details-stage {
	font-size: 85%;
}

.timetable-band__time {
	background: var(--color-lila);
	color: var(--color-blue);
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 74px;
	text-align: right;
	font-variant-numeric: tabular-nums;
}

.timetable-band__time-now-playing {
	/* pulsating red background */
	background: var(--color-rost);
	animation: pulse 1.5s infinite;
	color: white;
}
@keyframes pulse {
	0% {
		background-color: var(--color-rost);
	}
	50% {
		background-color: var(--color-lila);
	}
	100% {
		background-color: var(--color-rost);
	}
}
