{% set pffSettings = craft.app.globals.getSetByHandle('pffSettings') %}
<footer class="footer">
	{% if pffSettings.footerColumns | length %}
		<div class="footer__content">
			<div class="footer__columns">
				{% for block in pffSettings.footerColumns.all() %}
					<div class="footer__column">
						{% if block.type == 'footerContentBlock' %}
							<div class="ck-content">
								{{ block.html|raw }}
							</div>
						{% endif %}
						{% if block.type == 'pageCodeBlock' %}
							{{ block.code|raw }}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="language-switch">
		{% hook 'languageManagerNavigation' %}
	</div>
</footer>
</body>
</html>
