<div class="band">
	{% if band.image.one() %}
		<img src="{{ band.image.one().url }}" alt="{{ band.image.one().title }}">
	{% endif %}
	<div class="band-info">
		<h2>{{ band.title }}</h2>
		<p>{{ band.shortDescription }}</p>
	</div>
</div>
