<div class="band">
	{% if band.image.one() %}
		<div class="band-image" style="background-image: url('{{ band.image.one().url }}')"></div>
	{% endif %}
	<div class="band-info">
		<h2>{{ band.title }}</h2>
		<p>{{ band.shortDescription }}</p>
	</div>
</div>
