{% if faq.html and faq.title  %}
	<details class="faq">
		<summary>
			<h2>
				{{ faq.title }}
			</h2>
		</summary>
		<div class="ck-content">
			{{ faq.html|raw }}
		</div>
	</details>
{% endif %}
