<div class="menu">
	<ul>
		{% for page in craft.entries.section('pages').showInMenu(true).all() %}
			<li class="menu-item">
				<a href="{{ page.url }}">{{ page.title | t }}</a>
				{% set subpages = craft.entries.section('pages').parentpage(page.id).all() %}
				{% if subpages | length %}
					<ul class="submenu">
						{% for subpage in subpages %}
							<li class="submenu-item">
								<a href="{{ subpage.url }}">{{ subpage.title | t }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
