{% include "_header.twig" %}
{% include "menu.twig" %}

<div class="pagecontent">
	{% if entry.pageContents | length %}
		{% for block in entry.pageContents.all() %}
			{% if block.type == 'pageContentBlock' and block.html %}
				<div class="pageblock pageblock--{{block.blockStyle}}">
					{% if block.kontur %}
						<div class="pageblock__kontur">
							{% include 'kontur.svg.twig' %}
						</div>
					{% endif %}
					<div class="pageblock__content ck-content">
						{{ block.html|raw }}
					</div>
				</div>
			{% endif %}
			{% if block.type == 'pageCodeBlock' and block.code %}
				{{ block.code|raw }}
			{% endif %}
			{% if block.type == 'bandBlock' %}
				{% if block.bandlist | length %}
					<div class="bandblock">
						{% for band in block.bandlist.all() %}
							{% include 'band.twig' %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% include "_footer.twig" %}
