/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--color-green: #027755;
	--color-blue: #001259;
	--color-lila: #C092FF;
	--color-petrol: #30969e;
	--color-beige: #dbd0af;
	--color-linde: #d3fd7e;
	--color-rost: #cd4117;
	--color-white: #ffffff;
}

/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	font-size: 18px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}

/* General Styles */
body {
	font-family: 'Rubik', sans-serif;
}

html {
	scroll-behavior: smooth;
	color: var(--color-green);
}

body {
	padding: 0;
	margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

a {
	color: var(--color-blue);
	text-decoration: none;
}
a:hover {
	color: var(--color-lila);
}

a.link-with-arrow::before {
	content: "\e903";
	margin-right: 0.4em;
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 85%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.link-button {
	background: var(--color-blue);
	color: white;
	padding: 0.8em 1.5em;
	border-radius: 0.5em;
	display: inline-block;
	margin-right: 10px;
}
.link-button:hover {
	background: var(--color-lila);
	color: white;
}

[class^="icon-"],
[class*=" icon-"] {
	color: inherit;
	position: relative;
	top: 1px;
}

h1 {
	font-size: 2.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.3rem;
	font-weight: normal;
}
h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.3rem;
	font-weight: normal;
}

/* Menu */
.pagemenu {
	background: var(--color-green);
	color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center
}
.pagemenu.pagemenu--desktop {
	display: none;
}
@media (min-width: 768px) {
	.pagemenu.pagemenu--desktop {
		display: flex;
	}
	.pagemenu.pagemenu--mobile {
		display: none;
	}
}
.pagemenu .logo img {
	height: 40px;
	margin-left: 20px;
}
@media (max-width: 767.9999px) {
	.pagemenu .menu {
		height: 100%;
		width: 100%;
	}
	.pagemenu .menu ul {
		display: flex;
		flex-direction: column;
		justify-content: right;
		align-items: flex-start;
		list-style: none;
		text-transform: uppercase;
		padding-left: 21px;
		margin-top: 20px;
	}
	.pagemenu .menu li {
		font-size: 26px;
		white-space: nowrap;
		display: block;
		width: 100%;
	}
	.pagemenu .menu li a {
		padding: 5px 0;
		display: block;
	}

	.pagemenu .menu li a::after {
		content: "\e903";
		margin-left: 0.8em;
		font-family: 'icomoon' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 85%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
@media (min-width: 768px) {
	.pagemenu .menu {
		height: 100%;
	}
	.pagemenu .menu ul {
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: center;
		list-style: none;
		text-transform: uppercase;
		height: 100%;
		margin: 0 1rem;
	}
	.pagemenu .menu li{
		font-size: 18px;
		margin: 0 0.8rem;
	}
}
@media (min-width: 1024px) {
	.pagemenu .menu li {
		font-size: 22px;
		margin: 0 1rem;
	}
}
.pagemenu .menu li a {
	color: white;
}
.pagemenu .menu li a:hover {
	color: var(--color-lila);
}

.pagemenu--mobile .menu-popup {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	background: var(--color-green);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pagemenu--mobile.open .menu-popup {
	display: flex;
}

.menu-opener,
.menu-closer {
	font-size: 40px;
	padding: 0 1rem;
	cursor: pointer;
	color: white;
	height: 100%;
	display: flex;
	align-items: center;
}
.menu-closer {
	display: none;
}
.pagemenu--mobile.open .menu-closer {
	display: flex;
}
.pagemenu--mobile.open .menu-opener {
	display: none;
}

.menu-popup__bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.menu-popup__bottom svg {
	width: 100%;
	height: 100%;
	margin-top: 1px;
}
.menu-popup__bottom svg #kontur {
	fill: white;
}
.menu-popup__bottom-content {
	background: white;
	color: var(--color-green);
}

.menu-popup__bottom-content li a {
	color: var(--color-green);
}

.menu-popup__language-switch ul {
	list-style: none;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu-popup__language-switch li {
	display: flex;
	width: auto;
	padding: 20px 10px;
	font-size: 22px;
}


/* Page Blocks */
.pageblock {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.pagecontent>div:first-child {
	padding-top: 80px;
}

.pageblock.pageblock--blue {
	background: var(--color-blue);
	color: white;
}
.pageblock.pageblock--blue a {
	color: var(--color-lila);
}
.pageblock.pageblock--blue a:hover {
	opacity: 0.8;
}
.pageblock.pageblock--blue a.link-button {
	color: var(--color-white);
	background: var(--color-green);
}
.pageblock.pageblock--blue a.link-button:hover {
	opacity: 1;
	background: var(--color-lila);
}

.pageblock.pageblock--green {
	background: var(--color-green);
	color: white;
}
.pageblock.pageblock--green a {
	color: var(--color-beige);
}
.pageblock.pageblock--green a:hover {
	opacity: 0.8;
}

.pageblock.pageblock--lila {
	background: var(--color-lila);
	color: white;
}
.pageblock.pageblock--lila a {
	color: var(--color-blue);
}
.pageblock.pageblock--lila a:hover {
	opacity: 0.6;
}
.pageblock.pageblock--lila a.link-button {
	color: var(--color-white);
}
.pageblock.pageblock--lila a.link-button:hover {
	opacity: 1;
	background: var(--color-green);
}

.pageblock__content {
	width: 100%;
	max-width: 42rem; /* 672px (2xl) */
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 80px;
	padding-top: 64px;
}

.pageblock__kontur {
	width: 100%;
	height: 20px;
	margin-top: -19px;
}
@media (min-width: 768px) {
	.pageblock__kontur {
		height: 40px;
		margin-top: -39px;
	}
}

.pageblock__kontur svg {
	width: 100%;
	height: 100%;
}
.pageblock__kontur svg #kontur {
	fill: white;
}

.pageblock--blue .pageblock__kontur svg #kontur {
	fill: var(--color-blue);
}
.pageblock--lila .pageblock__kontur svg #kontur {
	fill: var(--color-lila);
}
.pageblock--green .pageblock__kontur svg #kontur {
	fill: var(--color-green);
}

/* CKE Styles */

.ck-content .image {
	display: flex;
	justify-content: center;
	margin: .9em auto;
}
.ck-content .image.image-style-align-left {
	display: flex;
	justify-content: left;
}
.ck-content .image.image-style-align-right {
	display: flex;
	justify-content: right;
}
.ck-content .image img {
	height: auto;
}

.ck-content p {
	margin-block: 1em;
	margin-inline: 0;
}

.ck-content hr {
	background: currentcolor;
	border: 0;
	height: 1px;
	margin: 15px 0;
}

/* HERO IMAGE */
.hero-main {
	margin-block-start: 0 !important;
	padding-top: 0 !important;
}

.hero-desktop {
	background: url('/images/desktop_bg.png') no-repeat center center;
	height: calc(100vh - 40px);
	width: 100%;
	background-size: cover;
	display: none;
}
@media (min-width: 640px) {
	.hero-desktop {
		display: block;
	}
}
.hero-mobile {
	background: url('/images/mobile_bg.png') no-repeat center center;
	height: calc(100svh - 40px);
	width: 100%;
	background-size: cover;
	display: block;
}
@media (min-width: 640px) {
	.hero-mobile{
		display: none;
	}
}
.hero-arrow {
	height: 41px;
	border-top: 1px solid #027755;
	border-bottom: 1px solid #027755;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.hero-arrow .hero-icon-arrow-down {
	position: relative;
	top: 0;
	transition: all 0.2s ease-in-out;
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.hero-arrow:hover .hero-icon-arrow-down{
	top: 1px;
	opacity: 0.7;
}

/* Footer */
.footer__columns {
	margin: 48px 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

@media (min-width: 768px) {
	.footer__content {
		display: flex;
		justify-content: center;
	}
	.footer__columns {
		flex-direction: row;
		max-width: 42rem;
		width: 100%;
	}
}

.footer__column {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 20px 10px;
}

/* Language Switch */
.language-switch {
    text-align: right;
	display: block;
	border-top: 1px solid var(--color-green);
	padding: 5px 10px;
}

.language-switch ul {
	list-style: none;
	padding: 0 10px;
}
.language-switch li {
	display: inline-block;
	padding: 5px;
}
